<div class="alert alert-success">
  <strong>Total Prize Pool: $1,000,000</strong>
</div>

<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/leaderboard">Leaderboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/gamehistory">Games History</a>
  </li>
</ul>